.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
  font-size: 40px;
}
.addcase{
    h1{
    font-size: 20px;
    font-weight: bold;
    }
    .showdiv{
      font-size: 16px;
      font-weight: bold;
    }
    label{
      // width: 70px;
      // text-align: right;
    }
    
}
