.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
  font-size: 40px;
}
.addcase{
    h1{
    font-size: 20px;
    font-weight: bold;
    }
    .showdiv{
      font-size: 16px;
      font-weight: bold;
    }
    label{
      // width: 70px;
      // text-align: right;
    }
    .tab{
      padding: 0 !important;
    }
    .showContent{
      padding: 20px 0 0 10px;
      line-height: 30px;
    }
    .isShowqmx{
     display: none;
    }
    .title{
      text-align: center;
    }
}


.checkbox-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  &:last-child {
    border-bottom: 0;
  }
}


.card {
  :global {
    .ant-card-body {
      padding: 0 15px;
    }
  }
}

.has-subitem {
  display: flex;
  .label {
    display: inline-block;
    flex-grow: 1;
  }
}

.no-tabs {
  :global {
    .ant-tabs-nav {
      display: none!important;
    }
  }
}

.detailTabsTitle {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  font-weight: bold;
}

.detailMenuTitle {
  // font-size: 16px;
  font-size: 12px;
  padding: 5px 0;
  overflow: hidden;
}

.detailMenu {
  margin-right: 10px;
  padding: 5px 0;
}

.selectedDetail {
  border: 1px solid #eee;
  padding: 0 10px;
  margin-top: 10px;
  &:last-child {
    margin-bottom: 10px;
  }
}