.title {
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 20px;

  .titleB{
    font-size: 20px;
    color: black;
  }
  .titleS{
    color: rgba(0, 0, 0, 0.6);
  }
}

.marginT{
  margin-top: 20px;
}

