.select{
  text-align: left;
}
.search {
  // border: 1px solid red;
  button{
    margin: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
.discussList{
  .listTitle{
    text-align: left;
    margin: 50px 0 30px;
    h1{
      display: inline-block;
      font-weight: 700;
      font-size: 25px;
    }
    .allNum{
      color: rgb(27, 24, 24);
      font-weight: 700;
      font-size: 14px;
    }
    button{
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      float: right;
    }
  }
  table{
    tr{
      th{
        text-align: center;
      }
      td{
        text-overflow:ellipsis;
        overflow:hidden;      
        white-space:nowrap;
        text-align: center;
      }
      a{
        display: inline-block;
        margin: 0 5px;
        font-weight: 400;
      }
    }
  }
}

// 新增、编辑弹框
.addBox{
  width: 55%!important;
  margin: 0 auto;
  // border: 1px solid rgb(133, 130, 130);
  text-align: center; 
  form{
    padding: 0 40px;
    .choose{
      width: 100%;
    }
    .submit{
      margin: 0 10px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
// 主持人、医生选择弹框
.smallBox{
  text-align: center; 
  width: 25%!important;
}
:global{
  .site-tree-search-value {
    color: #f50!important;
  }
  
}

// 查看病历探讨
.check{
  font-size: 17px;
  font-weight: 500;
  .title{
    text-align: center;
    h1{
      display: inline-block;
      font-size: 25px;
      font-weight: 700;
      margin-right: 30px;
    }
  }
  .line{
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(206, 201, 201);
    margin: 30px 0;
  }
  .table{
    text-align: center;
    h1{
      font-size: 25px;
      font-weight: 700;
    }
    table{
      tr{
        th,td{
          text-align: center;
        }
      }
    }
  }
}
// 查看探讨内容弹框
.checkBox{
  width: 35%!important;
  text-align: center;
  padding: 0;
  .div{ 
    // width: 111.2%;
    margin: -10px 0 15px;
  }
  .list{
    height: 400px;
    overflow-y: scroll;
  }
  .left{
    text-align: center;
    .img{
      width: 40px;
      height: 40px;
      margin: 0 auto;
      img{
        width: 40px;
        height: 40px;
      }
    }
  }
  .right{
    text-align: left;
    padding-right: 15px;
    span{
      display: block;
    }
  }  
}
// 取消探讨弹框
.cancelBox{
  text-align: center;
  width: 20%!important;
  .content{
    text-align: left;
    .text{
      margin: 20px 0;
    }
  }
}