
    .test1 {
        margin-bottom: 50px;
        margin-top: 30px;
        .select-active{
            margin-left: 100px;
            margin-right: 200px;
        }
        .time-select{
            margin-right: 300px;
        }
        .button1{
            margin-left: 60px;
        }
     
    }
    .test2 {
        margin-top: 20px;
        margin-bottom: 20px;
        .button2{
            margin-left: 1500px;
            background-color: skyblue;
        }
    }
 
  